body{
    margin:0;
    padding:0;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}

.section{
    
    height:100vh;
    width:100vw;
   display: flex;
   justify-content: center;
   align-items: center;

}
.section-1{
    background: #151515;
}
.section-2{
    background: #3c415c;
}
.section-3{
    background: #e84545;
}